<!DOCTYPE html>
<html>
    <head>
        <title>Galerie</title>
        <link rel="stylesheet" href="/resurse/css/galerie-css.css" type="text/css"/>
        
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type='text/css'/>
        
        <%- include('../fragmente/head')%>
        <link rel="stylesheet" href="/resurse/css/galerie-animata.css" type="text/css" />
        
    </head>
    <body>
        <div class=header-div>
            <%- include("../fragmente/header") %>
        </div>
    
        <main>
            <h1>Galerie</h1>
        <section id="galerie-statica">
            <%- include('../fragmente/galerie') %>
        </section>
         

        <section id="sectiune-galerie-animata">
            <h2>Galerie animata</h2>
            <div id="galerie-animata" class="galerie-a">
                <% for (let imag of locals.rand){  %>
                <figure>
                    <picture>
                        <img src="/<%-imag.imagine%>" alt=""/>
                    </picture>
                    <figcaption><%-imag.titlu%></figcaption>
                </figure>
                <% } %>
            </div>
        </section>
        

        <%- include("../fragmente/watermark") %>
        </main>

        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
    
</html>