<!DOCTYPE html>
<html>
    <head>
        <title>Galerie</title>
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type='text/css'/>
        <link rel="stylesheet" href="/resurse/css/galerie-css.css" type="text/css"/>
        <%- include('../fragmente/head')%>
    </head>
    <body>
        <div class=header-div>
            <%- include("../fragmente/header") %>
        </div>
    
        <main>
            <h1>Galerie</h1>
        <section id="galerie-statica">
            
            <%- include('../fragmente/galerie') %>

        </section>
        <%- include("../fragmente/watermark") %>
            
        </main>

        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
    
</html>