<!DOCTYPE html>
<html>
  <head>
    <title>Produse</title>
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    <%- include('../fragmente/head')%>
    <script>
    window.onload=function(){

    // valoare input pret in paranteza
    var rng=document.getElementById("inp-pret");
	  rng.parentNode.insertBefore(document.createTextNode(rng.min),rng);
	  rng.parentNode.appendChild(document.createTextNode(rng.max));
    let spval=document.createElement("span");
	  rng.parentNode.appendChild(spval)
    rng.value=0;
    spval.innerHTML=" ("+rng.value+")";
    rng.onchange=function(){
        rng.nextSibling.nextSibling.innerHTML=" ("+this.value+")";
    }
   
       
    let btn=document.getElementById("filtreaza");
        btn.onclick=function(){
          var hasNumber = /\d/;  
          let numeInp=document.getElementById("filtru_text");
            let nume_inp=numeInp.value;
            let minPret=document.getElementById("inp-pret").value;
            let categ=document.getElementById("inp-categorie").value;
            let produse=document.getElementsByClassName("produs");
            var comp=[];
            for(var option of document.getElementById("i_sel_multiplu").options)
            {
              if(option.selected){
                comp.push(option.value);
              }
            }
            var mod=[];
            let checkboxes=document.getElementsByName("gr_chck");
            for(let ch of checkboxes){
              if(ch.checked)
                mod.push(ch.value);
            } 

            let textarea=document.getElementById("i_textarea").value;
            var radio=[];
            let radiobuttons=document.getElementsByName("gr_rad");
            for(let rad of radiobuttons){
              if(rad.checked){
                radio.push(rad.value);
                break;
              }
            }
          var conditie1_input= hasNumber.test(nume_inp);
          var conditie2_input=hasNumber.test(textarea);
          var conditie_input=conditie1_input || conditie2_input;
          if(conditie_input)
          {
            if(conditie1_input)
              alert("Nume invalid");
            if(conditie2_input)
              alert("Descriere invalida");
          }
          else{
        
            for(let prod of produse)
            {
              prod.style.display="none";
              let nume_produs=prod.getElementsByClassName("val-nume")[0].innerHTML;
              var conditie1= (nume_inp==nume_produs || nume_inp=="Toate");

              let pret= parseInt(prod.getElementsByClassName("val-pret")[0].innerHTML)
              let conditie2 = pret>=minPret;

              let categ_produse=prod.getElementsByClassName("val-categorie")[0].innerHTML;
              let conditie3=( categ_produse==categ || categ=="toate");

              let val_v=prod.getElementsByClassName("val-voucher")[0].innerHTML

              let compatibil=prod.getElementsByClassName("val-compatibil")[0].innerHTML;
              compatibil=compatibil.split(";");
              compatibil = compatibil.map(el => el.trim());

              let mod_exp=prod.getElementsByClassName("val-exp")[0].innerHTML;
              
              let descriere=prod.getElementsByClassName("val-descriere")[0].innerHTML;
              let conditie4= (descriere.includes(textarea) || textarea=="Descriere default")
              
              let culoare=prod.getElementsByClassName("val-culoare")[0].innerHTML;
              let conditie5=(radio[0].toUpperCase()==culoare.toUpperCase() || radio[0]=="toate");
              
              
              conditieTotala= conditie1 && conditie2 && conditie3 && conditie4 && conditie5;
              if(conditieTotala)
              {
                let cont=0;
                for(let c of comp){
                  for(let cmp of compatibil){
                    if(c==cmp){
                    cont++;
                  }
                } }
              
                if(cont==0){
                  for(let m of mod)
                    if(m.includes(mod_exp))
                    {
                      prod.style.display="block";
                    }
                        
                }
                  
             }
        } }
            
        
        }
     
    function sortProduse(factor){
      var produse=document.getElementsByClassName("produs");
      let arrayProduse=Array.from(produse);
      arrayProduse.sort(function(art1,art2){
        let exp1=art1.getElementsByClassName("val-exp")[0].innerHTML;
        let exp2=art2.getElementsByClassName("val-exp")[0].innerHTML;
        let pret1=art1.getElementsByClassName("val-pret")[0].innerHTML;
        let pret2=art2.getElementsByClassName("val-pret")[0].innerHTML;
       
        let rez=factor*exp1.localeCompare(exp2);
        if(rez==0)
          return factor*(pret1-pret2);
        return rez;

      });
        for (let prod of arrayProduse){
            prod.parentNode.appendChild(prod);
        }

    }    

    btn=document.getElementById("sortCresc");
    btn.onclick=function(){
        sortProduse(1);
    }
    btn=document.getElementById("sortDescresc");
    btn.onclick=function(){
        sortProduse(-1);
    }

    btn=document.getElementById("resetare");
    btn.onclick=function(){
      let produse=document.getElementsByClassName("produs");
      for(let prod of produse){
        prod.style.display="block";
      }
    }  
    
    btn=document.getElementById("calcul");
    btn.onclick=function(){
      let suma=0;
      let i=0;
      let produse=document.getElementsByClassName("produs");
      for(let prod of produse){
        if(prod.style.display=="block" || prod.style.display=="")
        {
          suma=suma+ parseInt(prod.getElementsByClassName("val-pret")[0].innerHTML);
          i++;
        }
        
      }

      const newDiv=document.createElement("div");
      const div=document.getElementById("filtru");
      newDiv.innerHTML="Pretul mediu pentru produsele afisate este: "+ suma/i;
      div.appendChild(newDiv);
      newDiv.setAttribute("class","div-pret");  
      newDiv.style.position="fixed";
      setTimeout(function(){
        newDiv.remove();
      },2000)
    }

    }
    </script>
  </head>
  <body>
    <div class="header-div"><%- include("../fragmente/header") %></div>
    <main>


      <section>
        <h1>Produse</h1>
        <div class="filtre" id="filtru">
          <h2>Filtre</h2>
          <div class="butoane">
            <button id="filtreaza">Filtreaza</button>
            <button id="sortCresc">Sorteaza crescator dupa mod expediere,pret</button>
            <button id="sortDescresc">Sorteaza descrescator dupa mod expediere,pret</button>
            <button id="calcul">Calculare pret mediu</button>
            <button id="resetare">Reseteaza</button>
          </div>
        <label>Nume:<input type="text" id="filtru_text" value="Toate"></label>
        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="130" ></label>
        <label>Categorie:
          <select id="inp-categorie">
              <option value="toate">toate</option>
              <% for( let categorie of locals.categorii) { %>
                  <option value="<%- categorie %>"><%- categorie %></option>
              <% } %>
          </select>
        </label>
        <label>Compatibilitate(selectati valorile pe care nu le doriti):
          <select id="i_sel_multiplu" multiple size="4">
            <option value="Mercedes" >Mercedes </option>
            <option value="MULTIMARCA" >MULTIMARCA </option>
            <option value="Seat" >Seat</option>
            <option value="Unisex" >Unisex</option>
            <option value="BMW" >BMW</option>
            <option value="Ford" >Ford</option>
            <option value="VW" >VW</option>
          </select>
        </label>
        <label>Descriere:
          <textarea id="i_textarea">Descriere default</textarea>
        </label>
        <span>Mod expediere:</span>
        <%
        let i =1;
        for( let exp of locals.mod_exp) { %>
          
        <label class="check"><%- exp %> 
            <input id="i_check<%-i%>"  name="gr_chck" checked value="<%- exp %> " type="checkbox"/>
        </label>
        <%i=i+1%>
      <% } %>

        <div> Culoare:
          <label>Toate culorile
            <input id="i_rad1" checked name="gr_rad" value="toate" type="radio"/>
          </label>
          <label>Negru
            <input id="i_rad2" name="gr_rad" value="Negru" type="radio"/>
          </label>
          <label>Albastru
            <input id="i_rad3" name="gr_rad" value="albastru" type="radio"/>
          </label>
          <label>Mai multe culori
            <input id="i_rad4" name="gr_rad" value="Mai multe culori" type="radio"/>
          </label>
        </div>
        
        
        </div>
        
        <% for(let prod of locals.produse ){ %>
        <article class="produs" id="ad_ent<%-prod.id %>" >
        <div class="produse">
          <div class="div1">
              <h2 class="nume">
                <a href="/produs/<%- prod.id %>">
                  <span class=val-nume><%- prod.nume %></span></a
                >
              </h2>

              <p class="categorie">
                <span class="caracteristica ">Categorie:</span>
                <span class="val-categorie"><%- prod.categorie %></span>
              </p>
              <img
                src="/resurse/imagini/produse/<%- prod.imagine %>"
                alt="imagine produs"
              />
              <p class="descriere">
                <span class="caracteristica">Descriere:</span>
                <span class="val-descriere"><%-prod.descriere%></span>
              </p>
           
          </div>
          <div class="div2">
            <p class="pret">
              <span class="caracteristica">Pret:</span>
              <span class="val-pret" ><%- prod.pret %></span>
            </p>
            <p class="culoare">
              <span class="caracteristica ">Culoare:</span>
              <span class="val-culoare"><%- prod.culoare %></span>
            </p>
            <p class="Voucher">
              <span class="caracteristica">Voucher:</span>
              <span class="val-voucher"> <% if(prod.voucher){ %> Da<% } else{ %> Nu<% } %> </span>
            </p>
            <p class="compatibil">
              <span class="caracteristica">Compatibil pentru:</span>
              <span class="val-compatibil"
                ><%for( let comp of prod.compatibil){ %> <%- comp %>; <% } %>
              </span>
            </p>
            <p class="data_adaug">
              <span class="caracteristica">Data Adaugare:</span>
              <span class="val-data"><time datetime="<%- prod.data_adaug %>"><%- prod.data_adaugare%><time></span>
            </p>
            <p class="mod_expediere">
              <span class="caracteristica">Mod Expediere:</span>
              <span class="val-exp"><%- prod.mod_exp%></span>
            </p>
          </div>
        
        </div>
</article>
        <% } %>
      </section>

      <%- include("../fragmente/watermark") %>
    </main>

    <footer><%- include("../fragmente/footer") %></footer>
  </body>
</html>
